Nome:
<%= paciente.name  %> 
Código:
<%= paciente.cod  %>
Estado:
<%= paciente.estado %> 
<form action="/tecnicos/mudar_estado" method="POST">
    <input type="hidden" id="cod" name="cod" value="<%= paciente.cod %>"><br>
    <input type="text" id="estado" name="estado" value="<%= paciente.estado %>"><br>
    <button type="submit" class="btn btn-info">Guardar</button>
</form> 

<tbody>
    <% for ( var i = 0;  i < paciente.testes.length; i++) { %>       
        <th scope="row"> teste# <%= i+1 %> </th>
        <tr>
        <td><%= paciente.testes[i].name %></td>
        <td><%= paciente.testes[i].cod %></td>
        <td>
            <a href="/tecnicos/pedidos_novos/editar/<%= paciente.testes[i].cod %> "><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
        </td>
    </tr>
    <% } %>
</tbody>



<form action="/ver_pedido" method="POST">
    
    <div>
        <label for="teste1">Teste 1:</label><br>
        <div>
            <label for="estado">Estado:</label><br>
            <input type="text" id="estado" name="estado"><br>
        </div>
        <div>
            <label for="teste">Teste:</label><br>
            <input type="text" id="testeResultado" name="testeResultado"><br><br>
        </div>
        <div>
            <label for="data">Data:</label>
            <input type="date" id="data" name="data">
        </div>
        <div>
            <label for="resultado">Resultado:</label><br>
            <input type="text" id="resultado" name="resultado"><br><br>
        </div>
        <div>
            <input type="file" name="arquivos">
        </div>
    </div>
  </form>