<form action="/tecnicos/editar_testes/<%= paciente_cod %>/<%= pos_teste %>" method="POST">
    <h1>Atualizar teste</h1>
    <input type="text" id="testeStatus" name="testeStatus" value="<%= teste.testeStatus %>"><br>
    <input type="text" id="resultadoTeste" name="resultadoTeste" value="<%= teste.resultadoTeste %>"><br><br>
    <input type="hidden" id="data" name="data" value="<%= teste.data %>"><br><br>
    <button type="submit" class="btn btn-info">Atualizar</button>
</form> 
<p> Data: <%= teste.data %> </p> 



    
