Nome:
<%= paciente.name  %> 
Código:
<%= paciente.cod  %>
Estado:
<%= paciente.estado %> 
<form action="/tecnicos/mudar_estado" method="POST">
    <input type="hidden" id="cod" name="cod" value="<%= paciente.cod %>"><br>
    <input type="text" id="estado" name="estado" value="<%= paciente.estado %>"><br>
    <button type="submit" class="btn btn-info">Guardar</button>
</form> 

<form action="/tecnicos/adicionar_teste" method="POST">
    <div>
        <input type="hidden" id="cod" name="cod" value="<%= paciente.cod %>"><br>
        <div>
            <label for="testeStatus">Estado:</label><br>
            <input type="text" id="testeStatus" name="testeStatus"><br>
        </div>
        <div>
            <label for="teste">Teste:</label><br>
            <input type="text" id="testeResultado" name="testeResultado"><br><br>
        </div>
        <div>
            <label for="data">Data:</label>
            <input type="date" id="data" name="data">
        </div>
        <div>
            <label for="resultadoTeste">Resultado:</label><br>
            <input type="text" id="resultadoTeste" name="resultadoTeste"><br><br>
        </div>
        <div>
            <input type="file" name="arquivos">
        </div>
    </div>
    <button type="submit" class="btn btn-info">Guardar</button>
  </form>

    <% for ( var i = 0;  i < paciente.testes.length; i++) { %>       
      <h5>Teste <%= i+1 %></h5>   
        <p>Status: <%= paciente.testes[i].testeStatus %></p>
        <p>Data: <%= paciente.testes[i].data %></p>
        <p>Resultado: <%= paciente.testes[i].resultadoTeste %></p>
      
        <!-- TODO_pdf -->
        <a href="/tecnicos/pedidos_novos/editar/<%= paciente.testes[i].cod %> "><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
    <% } %>
