<style>
    .inlineTable {
            display: inline-block;
        }
</style>

<h3>Pedidos Novos</h3>

        <h2>Prioritários</h2>
        <table class="table table-striped inlineTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Código</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var pac of listaPaciente) { %>       
                    <tr>
                    <td><%= pac.name %></td>
                    <td><%= pac.cod %></td>
                    <td>
                        <a href="/tecnicos/pedidos_novos/editarMin/<%= pac.cod %> "><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    

    
        <h2>Não Prioritários</h2>
        <table class="table table-striped inlineTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Código</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(var pac of listaP) { %>       
                    <tr>
                    <td><%= pac.name %></td>
                    <td><%= pac.cod %></td>
                    <td>
                        <a href="/tecnicos/pedidos_novos/editarMin/<%= pac.cod %> "><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>






 
