<form action="/admin/gerirTecnicos/" method="post">
    <div class="form-group">
        <label>Código</label>
        <input type="number" class="form-control" name="cod" min="0" value="<%= tecnicos.cod %>">
    </div>
    </div>
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" name="name" value="<%= tecnicos.name %>">
    </div>
    <div class="form-group">
        <label>Idade</label>
        <input type="number" class="form-control" name="age" min="0" value="<%= tecnicos.age %>">
    </div>
    <div>
        <label for="age">Sexo:</label><br>
        <% if(tecnicos.sex=="masculino"){%> 
            <label class="checkbox">
                <input type="radio" name="sex" value="masculino" checked> Masculino
            </label>
            <label class="checkbox">
                <input type="radio" name="sex" value="feminino"> Feminino
            </label>
        <% }else{ %>
            <label class="checkbox">
                <input type="radio" name="sex" value="masculino"> Masculino
            </label>
            <label class="checkbox">
                <input type="radio" name="sex" value="feminino" checked> Feminino
            </label>
        <% } %>
        <br><br>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" value="<%= tecnicos.email %>">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Telemóvel</label>
            <input type="text" class="form-control" name="mobile" value="<%= tecnicos.mobile %>">
        </div>
        <div class="form-group col-md-6">
            <label>Cidade</label>
            <input type="text" class="form-control" name="city" value="<%= tecnicos.city %>">
        </div>
        <div>
            <label>Password</label>
            <input type="password" class="form-control" name="password" value="<%= tecnicos.password %>">
        </div>
    </div><br>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Guardar</button>
        <a class="btn btn-secondary" href="/admin/gerirTecnicos"><i class="fa fa-list-alt"></i> Ver Todos</a>
    </div>
</form>