<form action="/admin/informacoes1" method="POST">
    <label>Testes realizados no dia:</label>
    <input type="date" id="data" name="data"><br>
    <input type="hidden" class="form-control" name="countInfetados" id="countInfetados" value="<%= countInfetados %> ">
    <button type="submit" class="btn btn-info">Pesquisar</button>
</form>

<% if(informacoes1 ){ %>
    Número de Testes: <%= countTestes %> <br>
<% } %>

<form action="/admin/informacoes2" method="POST">
    <label>Testes realizados pela pessoa:</label>
    <input type="number" class="form-control" name="cod" id="cod">
    <input type="hidden" class="form-control" name="countInfetados" id="countInfetados" value="<%= countInfetados %> ">
    <button type="submit" class="btn btn-info">Pesquisar</button>
</form>

<% if(informacoes2){ %>
    Nome:
    <%= informacoes2.name  %> <br>
    Código:
    <%= informacoes2.cod  %> <br>
    Estado:
    <%= informacoes2.estado %> <br>
    
        <% for ( var i = 0;  i < informacoes2.testes.length; i++) { %>       
          <h5>Teste <%= i+1 %></h5>   
            <p>Status: <%= informacoes2.testes[i].testeStatus %></p>
            <p>Data: <%= informacoes2.testes[i].data %></p>
            <p>Resultado: <%= informacoes2.testes[i].resultadoTeste %></p>
            <!-- TODO_pdf -->
        <% } %>
<% } %> 

<div>
    <label>Número de pessoas infetadas: <%= countInfetados %></label>
</div>
