Nome:
<%= paciente.name  %> <br>
Código:
<%= paciente.cod  %><br><br>
Estado:
<%= paciente.estado %> <br>
<form action="/tecnicos/mudar_estado" method="POST">
    <input type="hidden" id="cod" name="cod" value="<%= paciente.cod %>"><br>
</form> 



    <% for ( var i = 0;  i < paciente.testes.length; i++) { %>       
      <h5>Teste <%= i+1 %></h5>   
        <p>Estado do Teste: <%= paciente.testes[i].testeStatus %></p>
        <p>Data: <%= paciente.testes[i].data %></p>
        <p>Resultado: <%= paciente.testes[i].resultadoTeste %></p><br>
        <!-- TODO_pdf -->
    <% } %> 
